//
   Created by petio on 24.12.2016 г..

block main-content
    form(method="post",action='/login')
        label(for="username") Username
        input(id="username" value="pesho" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Password
        input(id="password" value="123" class="form-control" type="password" name="password" placeholder="Password")
        br
        input(type="submit" class="btn-primary" value="Login")

