//
   Created by petio on 27.12.2016 г..


block main-content
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    .container
        if (errorMessage)
            .alert.alert-danger #{errorMessage}
    form(method="post", action='/register')
        label(for="email") E-mail
        input(id="email" class="form-control" type="email" name="email" placeholder="E-mail")
        br
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Password
        input(id="password" class="form-control" type="password" name="password" placeholder="Password")
        br
        label(for="confirm-password") Confirm Password
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
        br
        label(for="sport") Sport
        select(id="sport" class="form-control" name="favoriteSport")
            each sport in sports
                option(value="#{sport}") #{sport}
        br
        label(for="first-name") First Name
        input(id="first-name" class="form-control" type="text" name="firstName" placeholder="First Name")
        br
        label(for="last-name") Last Name
        input(id="last-name" class="form-control" type="text" name="lastName" placeholder="Last Name")
        br
        input(type="submit" class="btn btn-lg" value="Register")