//
   Created by petio on 24.12.2016 г..

//
   Created by petio on 24.12.2016 г..

doctype
html
    head
        title HealthyLife
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        header.nav
        .container.navbar.navbar-inverse
            .navbar-header
                a.navbar-brand(href="/") HealthyLife
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    if (currentUser)
                        li
                            a(href="/events/create") New Event
                        li
                            a(href="/events/active") Events
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout

        if(currentUser && currentUser.alerts)
            each alert in currentUser.alerts
                .alert.alert-info
                    a(href="/events/details/#{alert.id}")
                        strong #{alert.title}


            block main-content
            block additional-scripts
        footer
            p.text-center
                | &copy; HealthyLife
