//
   Created by petio on 24.12.2016 г..

//
   Created by petio on 24.12.2016 г..

doctype
html
    head
        title diplom
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") Event System
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if (currentUser)
                        li
                            a(href="/events/create") Create Event
                        li
                            a(href="/events/active") Active Events
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                    if (!currentUser)
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login


        if(currentUser && currentUser.alerts)
            each alert in currentUser.alerts
                .alert.alert-info
                    a(href="/events/details/#{alert.id}")
                        strong #{alert.title}
        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content
            include scripts
            block additional-scripts
        footer
            p.text-center
                | &copy; Sport
