//
   Created by petio on 27.12.2016 г..

extends ../shared/layout
block main-content
     body(background='/public/img/createImg.jpg')
         if errorMessage
             .alert.alert-danger
                 p Not all fields are filled
        .container
            .row
                .col-lg-12.text-center
                    form(method="post")
                        label(for="title") Title
                        input(id="title" class="form-control" type="text" name="title" placeholder="Title")
                        br
                        label(for="description") Description
                        input(id="description" class="form-control" type="text" name="description" placeholder="Description")
                        br
                        label(for="sport") Sport
                        select(id="sport" class="form-control" name="sport")
                            each sport in sports
                                option(value="#{sport}") #{sport}
                        br

                        label(for="date") Date
                        input(id="date" class="form-control" type="Date" name="date" placeholder="Date")
                        br
                        label(for="time") Start hour
                        input(id="time" class="form-control" type="time" name="startTime" placeholder="Time")
                        br
                        label(for="location") Location
                        input(id="location" class="form-control" type="text" name="location" placeholder="Location")
                        br
                        input(type="submit" class="btn btn-lg" value="Create")

